{% extends '_base.html' %}



{% block title_page %}
    Hompage
{% endblock title_page %}


{% block body %}
    <h1>This is Homepage</h1>
{% endblock body %}

========================================================================================================

<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>SINANIS</title>
</head>
<body>
    <h1>Home Page is hrere</h1>
    <p>This is just for example</p>
</body>
</html>
 -->
